<h1>Editing indicated talent</h1>

<%= render "form", indicated_talent: @indicated_talent %>

<br>

<div>
  <%= link_to "Show this indicated talent", @indicated_talent %> |
  <%= link_to "Back to indicated talents", indicated_talents_path %>
</div>
