<div class="my-5 container">

  <h1 class="text-info">Thank you for participating.</h1>
  <h4 class="text-info">Your submitted information is displayed below</h4>

  <p style="color: green"><%= notice %></p>

  <%= render @desired_talent %>
</div>